body {
font-family: Arial, sans-serif;
background-color: #f3f7e8;
margin: 0;
padding: 0;
}


.container {
width: 80%;
margin: auto;
text-align: center;
padding: 20px;
}


.search-box input {
padding: 10px;
width: 250px;
font-size: 1rem;
}


.search-box button {
padding: 10px 15px;
margin-left: 10px;
font-size: 1rem;
background: green;
color: white;
border: none;
cursor: pointer;
}


.card, .advisory-box, .chart-box {
background: white;
padding: 20px;
margin-top: 20px;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


.advisory-box p {
text-align: left;
font-size: 1.1rem;
}